# Test 2022-08-04 at 10:10:24

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: mkdir
      run: |
        mkdir -p ./Classes/                                                                     

    - name: Compile all Java files belonging to the package
      run: |
        javac -d ./Classes/ -cp ./Classes/         Ashley.java                                                   

    - name: Java - execute the test program using the package
      run: |
        java                -cp ./Classes/ -ea TestAshley.java                                               

    - name: Tree - show the resulting file structure
      run: |
        tree
